body {
    background-color: #1c1c1c;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #151414;
}
.logo {
    font-style: italic;
    font-size: 24px;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
.icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 10px;
}

.section-header h2 {
    font-size: 16px;
    font-weight: normal;  
    background-color: #916A2F; 
    margin: 0;
    padding: 5px 10px;
}

.container {
    width: 90%;
    max-width: 900px;
    background: #222;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}

.content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.room-image img {
    width: 250px;
    border-radius: 10px;
}

.room-details {
    flex-grow: 1;
    padding-left: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.description {
    font-size: 14px;
    color: #bbb;
}

.capacity {
    font-size: 14px;
    margin: 10px 0;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #d4af37;
}

.input-group {
    margin: 10px 0;
}

.input-group label {
    font-size: 14px;
    margin-right: 10px;
}

input, select {
    background: #333;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.checkin-checkout {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.checkin-checkout div {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.time-selection {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

.time-selection div {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.special-services {
    margin: 15px 0;
}

.note {
    font-size: 12px;
    color: #bbb;
}

.total {
    margin-top: 20px;
    background-color: #2b2a2a;
    padding: 20px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: 2px solid #8B6F44;
}

.amount {
    font-size: 20px;
    color: #d4af37;
}
